extends layout

block content
   div#homepage
     h1 #{title}
     p Fill in amount of burned calories
     form
       input(name='burnedCal' type='text' placeholder='burned calories' min='1' max='7891' id="searchquery" required)
       input(type="submit" value="Show" name='clickSearch' id="clickSearch")

   div#resultpage
     //- p or search specific product: form, so skip top part
     h1#amountCal
     p#results